
.tooltip-box {
    width: 336px;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 12px;
    position: absolute;
    z-index: 10;
    font-size: 0.875rem; /* text-sm */
    color: #fff; /* text-white */
    background-color: #000; /* bg-black */
    border-radius: 0.75rem; /* rounded-xl */
    white-space: normal; /* whitespace-normal */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    pointer-events: none;
    padding-left: 0.75rem; /* px-3 */
    padding-right: 0.75rem; /* px-3 */
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
}

@media (max-width: 1024px) {
    .tooltip-box {
        width: 280px;
    }
}

/* When not enough space (e.g., small screens or container too narrow),
    show tooltip ABOVE instead */
@media (max-width: 640px) {
    .tooltip-box {
        left: 81%;
        top: auto;
        bottom: 100%;
        transform: translateX(-50%);
        margin-left: 0;
        margin-bottom: 12px;
    }
}

/* Visibility transition */
.group:hover .tooltip-box {
opacity: 1;
visibility: visible;
}

.tooltip-box {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}
